@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Fira+Sans+Condensed&family=Permanent+Marker&family=Poppins:wght@200;500&family=Road+Rage&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

#warped {
  display: block; 
  width:500px; 
  height:400px;
  }

#warped img{
  position: absolute;
  width: 30px;
  height: 30px;
  }
  #warped .w0 {
  transform: translate(279.764px, 40.0049px);
  }

  #warped .w1 {
  transform: translate(317.452px, 44.0817px);
  }

  #warped .w2 {
  transform: translate(351.362px, 55.7766px);
  }

  #warped .w3 {
  transform: translate(379.623px, 75.1301px);
  }

  #warped .w4 {
  transform: translate(406.849px, 100.496px);
  }
  
  #warped .w5 {
  transform: translate(424.435px, 128.073px);
  }

  #warped .w6 {
  transform: translate(435.028px, 161.02px);
  }

  #warped .w7 {
  transform: translate(442.467px, 195.22px);
  }

  #warped .w8 {
  transform: translate(441.37px, 229.458px);
  }

  #warped .w9 {
  transform: translate(431.078px, 257.343px);
  }

  #warped .w10 {
  transform: translate(413.13px, 281.274px);
  }

  #warped .w11 {
  transform: translate(394.314px, 306.801px);
  }

  #warped .w12 {
  transform: translate(358.277px, 329.759px);
  }

  #warped .w13 {
  transform: translate(322.788px, 346.159px);
  }

  #warped .w14 {
  transform: translate(284.324px, 351.953px);
  }

  #warped .w15 {
  transform: translate(243.648px, 347.824px);
  }

  #warped .w16 {
  transform: translate(212.033px, 334.923px);
  }

  #warped .w17 {
  transform: translate(177.499px, 314.033px);
  }

  #warped .w18 {
  transform: translate(155.042px, 285.947px);
  }

  #warped .w19 {
  transform: translate(138.916px, 255.798px);
  }

  #warped .w20 {
  transform: translate(129.983px, 223.72px);
  }

  #warped .w21 {
  transform: translate(125.187px, 188.371px);
  }

  #warped .w22 {
  transform: translate(132.341px, 151.975px);
  }

  #warped .w23 {
  transform: translate(143.443px, 113.753px);
  }

  #warped .w24 {
  transform: translate(176.228px, 81.797px);
  }

  #warped .w25 {
  transform: translate(204.368px, 61.2672px);
  }

  #warped .w26 {
  transform: translate(242.361px, 47.452px);
  }

  .carouselContainer {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
  }

  .carousel .slide {
    left: 25%;
  }

  .buttonContainerOnCarousel {
    align-items: center;
    width: 100%!important;
    justify-content: center!important;
  }

  .buttonContainerOnCarousel div {
    width: 50%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
  }

  div.container > div > div > div.buttonContainerOnCarousel > div > button:nth-child(1){
    background-color: #3a86ff;
  }

  #root > div.container > div > div > div.buttonContainerOnCarousel > div > button:nth-child(2){
    background-color: #8338ec;
  }

  #root > div.container > div > div > div.buttonContainerOnCarousel > div > button:nth-child(3){
    background-color: #fb5607;
  }

  .carousel-status {
    font-size: 3rem!important;
    background-color: transparent!important;
  }

  .buttonContainerOnCarousel button {
    width: 20%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }

  .buttonToChosen {
    width: 10%!important;
    height: 7vh;
    background-color: #4CAF50;
  }

  .animalPhoto {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 50vw;

  }

  .onAnimalPhoto{
    height: 30vh;
    width: 25vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
  }

  .onAnimalPhotoSecondary{
    height: 30vh;
    width: 25vw;
    transition: 1000ms;
    opacity: 0;
  }

  .modalContainer {
    background-color: #dfdede;
    position: fixed;
    top: 25vh;
    left: 30vw;
    width: 50%;
    height: 50%;
    box-shadow: 12px 0px 100vw 55vw #444343d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  

  .showModal {
    top: 25vh;
    left: 40vw;
    position: fixed;
    box-shadow: 12px 0px 100vw 55vw #444343d1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://image.freepik.com/vector-gratis/fondo-selva-dibujos-animados_23-2148936119.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 0!important;
    width: 28%!important;
    height: 50%!important;
    z-index: 9999;
    transition: 1000ms;
  }


  

  .showModal div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1000ms!important;
    
  }

  .inputContainerSignIn {
    transition: 1000ms!important;
    transform: rotateY(360deg);
    
  }

  .inputContainerSignUp {
    transition: 1000ms!important;
    transform: rotateY(-360deg);
  
  }

  #root > div.container > div.showModal > div > div.buttonGoogle > button > div {
    width: 30px;
  }

  #root > div.container > div.showModal > div > div:nth-child(1) {
    padding-top: 6rem;
  } 

  input.inputPhoto {
    display: none;
  }

  .labelInput .photo {
    text-align: end!important;
}

  label.labelInput {
    cursor: pointer;
    background-size: 10%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.buttonGoogle {
  width: 10rem!important;
  height: 3rem!important;
}

div.buttonGoogle button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  
  background-color: rgba(233, 230, 230, 0.1) !important;
  outline: none !important;
  color: #ffffff !important;
  font-size: 1rem !important;
  text-decoration: none !important;
  height: 3rem !important;
  border: none !important;
}

div.buttonGoogle button div {
  background-color: transparent !important;
  margin-top: 16px;
}
  

  .showModal div input {
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.96);
    -webkit-box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.96);
    -moz-box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.96);
  }

  .svg {
    position: relative;
    bottom: 22vh;
    cursor: pointer;
  }

  .container {
    background-image: url("https://1.bp.blogspot.com/-lIRbAFfrGXM/UeXWzQ69daI/AAAAAAAAIEY/pT7L4ck2Kcw/s1600/Descargar+Pack+Gratis+Wallpaper+Ni%C3%83%C2%B1os+peque%C3%83%C2%B1os+(95).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    display: flex;
    flex-direction: column;
  }

  .footerContainer {
    position: fixed;
    bottom: 3vh;
    height: 13vh;
    width: 100%;
    background-color: #007200;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 7.5px solid #004b23;
    border-top: 7.5px solid #004b23;
  }

  .footerNav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

  .footerNav a {
    text-decoration: none;
  }

  .profilePhoto {
    position: relative;
    background-image: url("https://static1.abc.es/Media/201502/20/POCOYO--644x362.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 11em;
    width: 11em;
    left: 2rem;
    bottom: 4rem;
    border-radius: 50%;
    
  }

  .headerContainer {
    background-color: #007200;
    height: 5vh;
    border-bottom: 7.5px solid #004b23;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .headerContainer nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    font-size: 1.2rem;
    color: white;
  }

  .headerContainer nav a{
    text-decoration: none;
    color: white;
  }

  .headerContainer nav p {
    cursor: pointer;
  }

  .bhdLno {
    width: 55vw!important;
    height: 55vw!important;
    max-width: 600px!important;
    max-height: 600px!important;
  }

  .roulette, .buttonContain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .buttonContain button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }

  .buttonContain button:hover {
    background-color: #3e8e41
  }

  .buttonContain button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .donutContainer {
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .donutChildren {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 55vh;
    border-radius: 15px;
    background-color: #90be6de3;
    margin-top: -8rem;
  }

  div.container > div > div > div:nth-child(2){
    display: flex;
    width: 50%;
  }

  

  .buttonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .buttonsContainer button {
    width: 95%;
    border: none;
    height: 5rem;
    border-radius: 10px;
  }

  div.container > div > div > div:nth-child(2) > div > div > button:nth-child(1){
    background-color: #8338ec;
    margin-bottom: 10px;
    height: 5rem;
  }

  div.container > div > div > div:nth-child(2) > div > div > button:nth-child(2){
    background-color: #3a86ff;
    margin-bottom: 10px; 
    height: 5rem;
  }

  .buttonsContainer button{
    background-color: #fb5607;
    
  }

  div .photoAnimal {
    height: 450px;
    width:450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.69);
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.69);
  }

  #root > div.container > div {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
  }

  #root > div.container > div p {
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a86ff;
    margin-bottom: 10px; 
    height: 5rem;
    width: 10rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    cursor: pointer;
  }

  .cardContainer {
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    height: 62vh;
    background-color: #90be6de3;
    flex-wrap: wrap;
    border-radius: 10px;
  }

  .cardAnimal {
    background-color: white;
    width: 25vw!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 15px;
  }

  .cardAnimal div {
    height: 250px;
    width: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .shapesContainer {
    display: flex;
    padding-top: 6rem!important;
    align-items: center;

  }

  .shapesChildren {
    width: 70vw!important;
    height: 50vh!important;
    border-radius: 15px;
    background-color: #90be6de3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .shapesChildrenAgo {
    width: 100vw!important;
    height: 40vh!important;
    display: flex;
    flex-direction: column;
  }

  

  .shapesContainer p{
    margin-top: 2rem;
  }

  .figure {
    cursor: pointer;
    height: 20vh;
    width: 23vw!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .photoFromCarousel {
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 220px;
    height: 220px;
  }

  .shapesPerSlide {
    display: flex;
    width: 50vw;
    justify-content: space-between;
  }

  #root > div.container > div > div.shapesChildrenAgo > div {
    display: flex;
    flex-direction: column;
    background-color: #90be6de3;
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.69);
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.69);
    width: 70%;
    align-self: center;
    border-radius: 15px;
  }

  .figureForCompare {
    align-self: center;
    width: 40vw;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .shapesChildrenAgo .carousel .slide {
    left: 10%;
  }

  .storiesContainer {
    align-self: center!important;
    margin-top: 1rem!important;
    overflow-y: scroll;
    background-color: #90be6de3;
    border-radius: 15px;
    width: 80vw!important;
    height: 75vh!important;
    max-height: 75vh!important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse!important;
    padding-top: 0!important;
  }

  .storiesContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .storiesContainer::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  .storiesContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
  }

  .photoFromVideoContainer{
    width: 25vw!important;
    height: 30vh!important;
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  .photoFromVideo {
    width: 25vw!important;
    height: 30vh!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.69);
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.69);
    border-radius: 15px;
  }

  .highscoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0!important;
  }

  .highscoreContainer .headTable {
    width: 60%!important;
  }

  .highScore {
    background-color: #4caf4fee;
    width: 100%;
    max-height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
  }

  .bodyContainer {
    width: 60%!important;
    margin-bottom: 6rem;
    background-color: #4caf4fc0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .bodyContainer table{
    width: 100%!important;
    

  }

 

  th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 1.3rem;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }

  
  .highscoreUser {
    height: 10%;
    width: 80%;
    background-color: black;
  }






 

